<a href="https://colab.research.google.com/github/jduncan81/data_1_checks/blob/main/mens_mile_WR_example_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Men's World Record Mile Times

![a runner](https://www.nnrunningteam.com/files/images/485-458-1083-slide.jpg?1570881944)

## Goals for this example project:

1. Use documentation for some small challenges.

2. Practice data cleaning.

3. Practice aggregation. 

4. Practice simple visualization.

[source - wikipedia](https://en.wikipedia.org/wiki/Mile_run_world_record_progression#:~:text=World%20Athletics%20is%20the%20official,the%20IAAF%20for%20record%20purposes)

In [ ]:
#part of python
import datetime as dt
import json
import time

# NOT included with python
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/josephplpriest/mens_WR_mile_run/master/mens_WR_mile_times.csv")

In [ ]:
data.head()

,Time,Auto,Athlete,Nationality,Date,Venue
0,*4:14.4*,NaN,John Paul Jones,United States,31 May 1913[5],"Allston, Mass."
1,*4:12.6*,NaN,Norman Taber,United States,16 July 1915[5],"Allston, Mass."
2,*4:10.4*,NaN,Paavo Nurmi,Finland,23 August 1923[5],Stockholm
3,*4:09.2*,NaN,Jules Ladoumègue,France,4 October 1931[5],Paris
4,*4:07.6*,NaN,Jack Lovelock,New Zealand,15 July 1933[5],"Princeton, N.J."

In [ ]:
data["Nationality"]

0      United States
1      United States
2            Finland
3             France
4        New Zealand
5      United States
6     United Kingdom
7             Sweden
8             Sweden
9             Sweden
10            Sweden
11            Sweden
12            Sweden
13    United Kingdom
14         Australia
15    United Kingdom
16         Australia
17       New Zealand
18       New Zealand
19            France
20     United States
21     United States
22          Tanzania
23       New Zealand
24    United Kingdom
25    United Kingdom
26    United Kingdom
27    United Kingdom
28    United Kingdom
29    United Kingdom
30           Algeria
31           Morocco
Name: Nationality, dtype: object

## Tasks:

### [Easy: Data Cleaning](#easy)

[1.1](#1.1)
* Clean the asterisks from the time column?

*hint - look for pandas string methods to replace a character or characters*

[1.2](#1.2)
* Remove meaningless columns? 

*hint - do we have a column with lots of missing values, how to drop a column in pandas*

[1.3](#1.3)
* Clean the date column of "[5]"

*pandas string methods to replace characters*

### [Medium: Calculation and Aggregation](#medium)

[2.1](#2.1) 
* How many *unique* WR holders have there been? Who holds the most records?

*hint - pandas unique items in a column, value counts*


[2.2](#2.2) 
* Convert the time column into total seconds.

*hint - split a string, how to convert minutes to seconds and add*

### [Hard:](#hard)

[3.1](#3.1) 
* Convert the date column to the datetime type.

*hint - pandas datetime method*


[3.2](#3.2) 
* What country has the most DIFFERENT record holders?

*hint - pandas group by, unique*

## [Extra credit:](#ec)

[4.1](#4.1)
* Visualize a line plot of Date (on the x axis) and Time (on the y axis) to show the historical change in WR times.

*hint - pandas line plot*

### Easy: <a name="easy"></a>

#### 1.1 Cleaning the time column <a name="1.1"><a/>

In [ ]:
# Your code here

#### 1.2 Drop the "Auto" column <a name="1.2"><a/>

In [ ]:
# Your code here

#### 1.3 Clean the date column <a name="1.3"><a/>

In [ ]:
# Your code here

### Medium: <a name="medium"><a/>

#### 2.1 Looking at record holders (unique and multiple-record holders) <a name="2.1"><a/>

In [ ]:
# Your code here

In [ ]:
# Your code here

#### 2.2 Convert the "Time" column to seconds <a name="2.2"><a/>

In [ ]:
# Your code here

### Hard: <a name="hard"><a/>

#### 3.1 Convert the "Date" column to datetime type<a name="3.1"><a/>

In [ ]:
# Your code here

#### 3.2 Rank countries by number (distinct) of record holders <a name="3.2"><a/>

In [ ]:
# Your code here

### Extra Credit: <a name = "ec"><a/>

#### 4.1 Plot the dates vs times to see how the record has changed through history. <a name="4.1"><a/>

In [ ]:
# Your code here